body {
    background: lightgreen;
}

#site-header {
    border-bottom: solid 3px #cecece; 
    padding-bottom: 0.3rem;
}

#banner-title-row {
    display: flex;
}

.col1 {
    width: 80%;
}

#banner-selfie{
    min-width: 128px;
    min-height: 128px;

    width: auto;
    height: auto;
}